/*********************************************************** nav bar */
.nav_bar {
  background-color: #f9d3b4;
  height: 9rem;
  padding: 3.5rem 0;
}

.nav_bar ul {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  justify-content: space-around;
}

.nav_bar li a {
  font-size: 1.7em;
  color: #000;
  text-decoration: none;
}

.nav_bar li a:hover {
  color: #f0f0f0;
  cursor: pointer;
}
